{
"extends": [
    "react-app",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "prettier"
],
"parserOptions": {
    "ecmaFeatures": {
    "jsx": true
    }
},
"plugins": ["react"],
    "rules": {
        "react/prop-types": 1,
        "no-duplicate-imports": 2,
        "one-var": [2, "never"],
        "no-var": 2,
        "no-use-before-define": 2,
        "no-param-reassign": 2,
        "eqeqeq": [2, "smart"],
        "no-throw-literal": 2,
        "prefer-promise-reject-errors": 2,
        "prefer-rest-params": 2,
        "no-shadow-restricted-names": 2,
        "default-case": 2,
        "no-mixed-operators": 2,
        "no-return-assign": 2,
        "no-multi-assign": 2,
        "no-useless-computed-key": 2,
        "no-useless-rename": 2,
        "no-new-wrappers": 2,
        "no-new-func": 2,
        "no-new-object": 2,
        "no-array-constructor": 2,
        "no-eval": 2,
        "no-implied-eval": 2,
        "no-alert": 2,
        "linebreak-style": [2, "unix"],
        "eol-last": [2, "always"],
        "no-console": [1, { "allow": ["warn", "error"] }]
    }
}
